@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  border: none;
  text-decoration: none;
  list-style: none;
  font-family: "Montserrat", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  overflow: visible;
}

:root {
  --white: #fff;
  --black: #000;
  --night: #282936;
  --background: #f5f5f5;
  --background2: #f1fcfb;
  --card-clr: #e4e4e4;
  --selected: #edeffd;
  --primary-clr: #12577b;
  --secondary-clr: #4f45b8;
  --terciary-clr: #ff6f3d;
  --details: #8b32f4;
  --sec-details: #2196f3;
  --atencion: #f73f3d;
  --contrast: #f7ff3c;
  --always-white: #fff;
  --always-black: #000;
  --unselected: #9e9e9e;
  --subtitles: #64748b;
  --borders: rgba(0, 0, 0, 0.1);
  --c1: #1d1d1d;
  --c2: #4e4f51;
  --c3: #3c3c3c;
}

.dark-mode {
  --white: #000;
  --black: #fff;
  --night: #dddddd;
  --subtitles: #94a3b4;
  --selected: #0f172a;
  --background: #1a1a24;
  --background2: #181a1e;
  --card-clr: #232333;
  --primary-clr: #021b33;
  --secondary-clr: #4f45b8;
  --borders: rgba(255, 255, 255, 0.1);
}

body {
  display: flex;
  background-color: var(--card-clr);
}

aside {
  position: fixed;
  overflow: hidden;
  top: 0;
  left: 0;
  width: 15vw;
  height: 100vh;
  background-color: var(--white);
  border-right: 1px solid var(--borders);

  & .logo {
    width: 100%;
    height: 10%;
    border-bottom: 1px solid var(--borders);
    display: flex;
    align-items: center;
    padding-left: 10%;

    & p {
      font-size: 2rem;
      font-weight: 700;
      color: var(--black);

      & span {
        color: var(--atencion);
      }
    }
  }

  & ul {
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
    padding: 10px;
    height: 90%;

    & li {
      display: flex;
      align-items: center;
      gap: 1rem;
      padding: 1rem;
      border-radius: 5px;
      cursor: pointer;
      transition: ease-in-out 1s;

      &:hover,
      &.active {
        background-color: var(--card-clr);
        transition: ease-in-out 0.3s;
      }

      & i {
        color: var(--black);
        font-size: 1.5rem;
      }

      & span {
        color: var(--black);
        font-size: 1rem;
      }

      &:last-child {
        border-top: 1px solid var(--borders);
        width: 100%;
        gap: 1rem;
        margin-top: auto;

        & .img-user {
          width: 2.5rem;
          height: 2.5rem;
          background-color: var(--atencion);
          border-radius: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
          color: var(--always-white);
          font-weight: 600;
        }

        & .user-infos {
          display: flex;
          flex-direction: column;

          & .name {
            color: var(--black);
          }

          & .privilege {
            color: var(--subtitles);
          }
        }
      }
    }
  }
}

main {
  width: 100vw;
  height: 100vh;
  background-color: var(--background);
}

.section {
  visibility: hidden;
  background-color: var(--background);
  position: fixed;
  right: 0;
  top: 0;
  width: 85vw;
  display: flex;
  flex-direction: column;

  & header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
    height: 10vh;
    border-bottom: 1px solid var(--borders);
    background-color: var(--white);

    & h3 {
      color: var(--black);
      font-size: 28px;
    }

    & .profile {
      color: var(--black);
      display: flex;
      align-items: center;
      gap: 1.5rem;

      & .profile-icon {
        width: 2.1rem;
        height: 2.1rem;
        font-size: 13px;
        background-color: var(--atencion);
        border-radius: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        color: var(--always-white);
        font-weight: 600;
      }
    }
  }

  & .top-box {
    height: 10vh;
    display: flex;
    align-items: center;
    padding: 0 2rem;
  }
}

.active-section {
  visibility: visible;
}

#dashboard {
  position: fixed;
  right: 0;
  top: 0;
  width: 85vw;
  display: flex;
  flex-direction: column;

  & .top-box {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-evenly;
    padding: 3rem 5%;

    & .top-infos {
      background-color: var(--white);
      border: 1px solid var(--borders);
      padding: 1.2rem;
      display: flex;
      align-items: center;
      width: 19%;
      min-width: 200px;
      height: 5vw;
      border-radius: 10px;

      & .icon {
        width: 30%;
        display: flex;
        justify-content: center;
        align-items: center;

        & .icon-background {
          background-color: #398ddb88;
          height: 3rem;
          width: 3rem;
          border-radius: 100%;
          display: flex;
          align-items: center;
          justify-content: center;

          & i {
            color: var(--black);
            font-size: 1vw;
          }
        }
      }
      .infos {
        width: 70%;
        display: flex;
        flex-direction: column;
        padding: 0.5rem;

        

        & .info-title {
          color: var(--subtitles);
          font-size: 0.8vw;
        }

        & .info-number {
          color: var(--black);
          font-size: 1.5vw;
          font-weight: 800;
          margin-top: auto;
        }
      }

      &:last-child {
        & .icon {
          & .icon-background {
            & i {
              transform: translateY(15%);
            }
          }
        }
      }

      &:last-child {
          & .info-number {
            font-size: 1vw;
            font-weight: 700;
          }
        }
    }
  }

  & .search-box {
    width: 100%;
    margin: 0;
    display: flex;
    gap: 0.5rem;
    padding: 0 9.5%;

    & .input-box {
      display: flex;
      background-color: var(--atencion);
      gap: 1rem;
      padding: 0.5rem;
      background-color: white;
      border: 1px solid var(--borders);
      border-radius: 5px;
      width: 95%;

      & input {
        background-color: transparent;
        outline: none;
        height: 100%;
        width: 100%;
      }
    }

    & button {
      background-color: var(--night);
      color: white;
      border-radius: 5px;
      padding: 0 1rem;
      border: 1px solid var(--borders);
      display: flex;
      align-items: center;
      gap: 0.2rem;
      cursor: pointer;

      &:hover {
        transition: 0.5s ease-in-out;
        border: 1px solid var(--night);
        background-color: transparent;
        color: var(--black);
      }

      &:active {
        background-color: var(--night);
        color: white;
        border: 1px solid var(--borders);
      }

      &:last-child {
        background-color: var(--white);
        color: var(--black);

        &:hover {
          transition: 0.5s ease-in-out;
          border: 1px solid var(--night);
          background-color: var(--night);
          color: var(--white);
        }

        &:active {
          background-color: var(--white);
          color: var(--black);
        }
      }
    }
  }

  & .products-box {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    padding: 2vh 6%;
    flex-wrap: wrap;
    gap: 1rem;

    & .card {
      display: flex;
      background-color: var(--white);
      width: 27.5%;
      min-width: 300px;
      padding: 1rem 0.5rem;
      display: flex;
      border: 1px solid var(--borders);
      border-radius: 5px;

      & .prod-img {
        width: 5vw;
        height: 5vw;
        padding: 0.5rem;

        & .img {
          width: 100%;
          height: 100%;
          display: flex;
          align-items: center;

          & img {
            width: 100%;
            height: auto;
          }
        }
      }

      & .prod-infos {
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        & .name {
          font-weight: 500;
        }

        & .prod-id {
          color: var(--subtitles);
          font-size: 12px;
          font-weight: 400;
        }

        & .price {
          font-weight: 800;
        }

        & .qtd {
          color: var(--subtitles);
          font-size: 12px;
        }
      }

      & .view {
        width: 25%;
        display: flex;
        flex-direction: column;
        justify-content: start;
        gap: 1rem;

        & .status {
          background-color: rgb(134, 185, 57);
          padding: 0.3rem;
          display: flex;
          justify-content: center;
          border-radius: 15px;
          color: var(--black);
          font-size: .7vw;
        }

        & button {
          background-color: transparent;
          border: 1px solid var(--borders);
          width: 100%;
          display: flex;
          justify-content: space-around;
          border-radius: 5px;
          padding: 0.2rem 0.3rem;
          align-items: center;

          & i {
            font-size: .8vw;
          }

          & span {
            font-size: .6vw;
          }
        }
      }
    }
  }
}
